
.portada{
    position: relative;
   
    text-align: center;
}
b{
    color: #ffffff;
}

img{
    width: 300px;
    height: auto;
    box-shadow: 0px 0px 20px rgb(215 156 156 / 20%);
    background: rgb(2 1 1 / 32%)!important;


}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    background-color: #3a0606!important;
}

#contenedor{
    max-width: 1000px;
    margin: auto;
  
    margin-bottom: 20px;
    overflow: hidden;
}
header {
    height: 6em;
    background-color: rgb(57 39 90);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-right: 10PX;
}

#encabezado {
    font-size: 1em;
    text-align: right;
    line-height: 8em;
}
.dropdown-menu {
    background-color: #160000!important;
}
.dropdown-item {
   
    color: #ffffff!important;
    
    
}
a:hover{
    background-color: #ffffff00!important;
    color: rgb(107, 107, 107)!important;
}

#contenido {
    width: 51%;
    /* height: 897px; */
    height: auto;
    text-align: center;
    padding: 0px;
    margin-top: 10px;
    margin-left: 25%;
    margin-block-end: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 39px #000000bd;
    background: rgb(2 1 1 / 26%);
}
.d-block w-100{
    zoom: 100%!important;
}

#contenido button {
    /* margin-top: 10px; */
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #e00a0a;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 10px;
}

#contenido button:hover, .form button:active, .form button:focus {
    background: #885555;
}







/* Responsive */
@media screen and (max-width: 650px) {
    #contenido {
        width: 100%;
        /* height: 499px; */
        height: auto;
        text-align: center;
        padding-top: 18px;
        margin-top: 10px;
        margin-block-end: 10px;
        margin-left: 0;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 20px rgb(215 156 156 / 20%);
        background: rgb(2 1 1 / 32%);
    }

}

#imagen_portada {
    width: 997px;
    height: 575px;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
    margin-block-end: 29px;
    position: relative;
    background-color: #000000;
    box-shadow: 0px 0px 66px rgb(0 0 0 / 86%);
    border-radius: 20px;
}


@media screen and (max-width: 650px) {
    #imagen_portada {
        width: 94%;
        height: 337px;
        margin-top: 2%;
        margin-left: 3%;
        margin-block-end: 29px;
        margin-right: 2%;
        border-radius: 20px;
    }


}















.copyright {
    color: #101010;
}

footer {
    background-color: #dfdc58;
    text-align: center;
    border-radius: 5px;
}